// colors
$white: #fff;
$black: #000;
$dark: #313131;
$dark2: #404040;
$grey: #626262;
$grey2: #ebebeb;
$grey3: #484848;
$grey4: #e7e7e7;
$grey5: #585858;
$grey6: #9d9d9d;
$grey7: #525252;
$grey8: #646464;
$grey9: #777;
$grey10: #bdc0c4;
$grey11: #9a9a9a;
$grey12: #a6b1b7;
$cloudy: #f9f9f9;
$cloudy2: #e8e8e8;
$cloudy3: #eaeef0;

//color variables for menu & articles
$c-graphic: #14b9d6;
$c-music: #e76049;
$c-photography: #2eb398;
$c-cinema: #90899c;
$c-bussiness: #5692b1;
$c-travel: #f9b704;
$c-fashion: #dd1787;
$c-more: #e76049;

//share icons variables
$icon-facebook: #3360b2;
$icon-twitter: #08b0e0;
$icon-google: #ef5c5c;
$icon-pinterest: #ae0a0a;

// fonts
$f-regular: 'OpenSans-Regular';
$f-semibold: 'OpenSans-Semibold';
$f-bold: 'OpenSans-Bold';
$f-extrabold: 'OpenSans-ExtraBold';
$f-specialRegular: 'Montserrat-Regular';
$f-specialBold: 'Montserrat-Bold';

$font-default: 20px;

//transitions
$all-transition: all .2s ease-in-out;
$slow-all-transition: all .6s ease-in-out;

//screen sizes
$extraSmall: 320px;
$small: 575px;
$medium: 767px;
$large: 991px;
$extraLarge: 1140px;